@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&family=PT+Sans+Narrow&display=swap');

/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --darkblue: #081012;
  --lightblue:#4D8FC3;
  --beige: #FFF3EB;
  --rose: #EF8A84;

}

/* ============= PROJECT CSS =============== */

.container {
  min-height: 100vh;
  background-color: var(--rose);
}

.lorem-title {
  text-align: center;
  font-family: 'Inconsolata', monospace;
  color:#081012 ;
  background-color: var(--beige);
  padding: 20px;
}

.form-container {
  padding: 25px;
  background-color: var(--rose);
  color: var(--black);
  max-height: 100%;
}

.form-container form {
  display: flex;
  max-width: 60%;
  margin: 20px auto;
  justify-content: space-around;
  align-items: center;
  
}

.form-container label {
  background-color: var(--beige);
  border-radius: 3px;
  height: 25px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.form-container input {
  height: 25px;
  border: var(--darkblue);
  padding: 5px;
}

.form-container input:focus{
  outline: none;
}

.form-container p {
  font-family: 'PT Sans Narrow', sans-serif;
  line-height: 20px;
  padding-top: 20px;
  width: 90%;
  margin: auto;
  text-align: justify;
}

.form-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px var(--beige) dotted;
  margin-left: 10px;
  background-color: transparent;
}



